.idea/
BaseballElimination/baseball/
Boggle/boggle/
BurrowsWheelCompress/Burrows/
KdTree/kdtree/
Percolation/percolation/
Other/
Puzzle15/8puzzle/
SeamCarver/seam/
Wordnet/wordnet/
/Collinear/src/collinear.zip
/Percolation/src/percolation.zip
/out/
